.gallery-container {
    height: 95%;
    width: 50%;
}

.wrapper {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.gallery-img {
    height: 100%;
}

.info-card {
    margin-left: 5px;
    width: 50%;
    align-self: center;
}

.title-details-label {
    padding-bottom: 10px;
}

.good-info-container{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.price-container{
    align-self: center;
    font-size: 20px;
}

.good-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 670px) {
    .gallery-container {
        height: 100%;
        min-height: 400px;
        width: 100%;
    }

    .wrapper{
        flex-direction: column;
    }

    .info-card {
        margin-top: 5px;
        width: 100%;
    }
}