<div class="login-form-container">
    <app-spiner *ngIf="isLoading"></app-spiner>
    <div *ngIf="!isLoading" class="login-form-container">
        <div class="login-label">Login:</div>
        <form [formGroup]="loginForm" class="login-form">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="login">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <div class="error-message" *ngIf="authError!=''">
                {{authError}}
            </div>
            <div class="login-button-container">
                <button mat-button type="button" [backgroundColor]="'pink'" (click)="login()" *ngIf="!isRegistartionNow">
                    Login
                </button>
                <button mat-button type="button" [backgroundColor]="'pink'" (click)="registration()">Registration</button>
                <button mat-button type="button" [backgroundColor]="'pink'" (click)="cancelRegistration()"
                    *ngIf="isRegistartionNow">Cancel</button>
            </div>
        </form>
    </div>
</div>