.login-form-container{
    width: 50%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-label{
    font-size: 25px;
    padding: 10px;
}

.login-button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.login-button-container>button{
    display: block;
}

.error-message{
    color: red;
    margin-top: 5px;
}