<div class="application-container">
  <header class="header">
    <div class="header-menu">
      <div class="side-menu-button">
        <div mat-button (click)="setIsSideMenuShown(false)" class="menu-button header-icon">
          <mat-icon class="menu-icon">toc</mat-icon>
          <div>Menu</div>
        </div>
      </div>
      <div class="shop-name-container">
        <div class="shop-name">Shhh...shop</div>
      </div>
      <div class="shop-icon-container" (click)="goToCart()">
        <mat-icon class="shop-icon header-icon">shopping_basket</mat-icon>
        <div class="cart-counter">{{cartGoodsNumber}}</div>
      </div>
    </div>
    <mat-sidenav-container class="side-menu-container" (mouseleave)="setIsSideMenuShown(true)" autosize [hasBackdrop]="true">
      <mat-sidenav #drawer [fixedInViewport]="true" class="sidenav" mode="over" [autoFocus]="false">
        <div class="menu_wrapper">
          <div class="side-menu-links">
            <div class="url-animation-container">
              <a class="page-url" routerLink="/home">Home</a>
              <div class="url-animation"></div>
            </div>
            <div class="url-animation-container">
              <a class="page-url" routerLink="/view-all">View all</a>
              <div class="url-animation"></div>
            </div>
            <div class="url-animation-container" *ngIf="isAuthenticate">
              <a class="page-url" routerLink="/admin">Admin</a>
              <div class="url-animation"></div>
            </div>
          </div>
          <button mat-button class="url-animation-container login-container" (click)="goToLogin()" [backgroundColor]="'gray'">
            <label class="page-url">{{isAuthenticate ? 'Logout' : 'Login'}}</label>
            <mat-icon>account_box</mat-icon>
          </button>
        </div>
      </mat-sidenav>    
    </mat-sidenav-container>
  </header>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <div [backgroundColor]="'gray'" class="footer">
    <div class="footer-content-container">
      <div>Follow us:</div>
      <div class="social-icons-container">
        <img src="../assets/instagram.svg"/>
        <img src="../assets/twitter.svg"/>
        <img src="../assets/facebook.svg"/>
      </div>
    </div>
  </div>
</div>

